@model Scene

<h2>Add Endings</h2>

<form asp-action="StoryEnding">
    
    <div class="form-group">
        <label asp-for="Outro"></label><span class="text-danger">*</span>
        <input asp-for="Outro" class="form-control" placeholder="Write your game's outro.." />
        <span asp-validation-for="Outro" class="text-danger"></span>
    </div>

    <h3>Add Ending:</h3>
    <div class="form-group">
        <label asp-for="HighEnding"></label>
        <input asp-for="HighEnding" class="form-control" placeholder="Write an ending for the gamers with high scores.." />
        <span asp-validation-for="HighEnding" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MediumEnding"></label>
        <input asp-for="MediumEnding" class="form-control" placeholder="Write an ending for the gamers with medium scores.." />
        <span asp-validation-for="MediumEnding" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LowEnding"></label>
        <input asp-for="LowEnding" class="form-control" placeholder="Write an ending for the gamers with low scores.." />
        <span asp-validation-for="LowEnding" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Finish Game</button>
    <a asp-action="Questions" class="btn btn-secondary">Back to Questions</a>
</form>