@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Math Universe!</h1>
    <form asp-controller="Story" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary">Make New Game</button>
    </form>
    <form asp-controller="Story" asp-action="AddNewGame" method="get">
    <button type="submit" class="btn btn-primary">Make New Game</button>
    </form>
</div>
*@

