@using Jam.Models.Enums
@model StartStoryViewModel

<h2>Time to play: @Model.Title</h2>

@if (Model.Accessibility == Accessibility.Private)
{
    <form asp-action="StartStory" method="post">
        <input type="hidden" asp-for="StoryId" />
        <div class="form-group">
            <label for="Code">Enter access code:</label>
            <input asp-for="Code" class="form-control" />
        </div>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }

        <button type="submit" class="btn btn-primary mt-2">Start Game</button>
    </form>
}